Authlib==0.14.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.7
Flask==2.0.2
Flask-Cors==4.0.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.0.3
MarkupSafe==2.1.5
pycparser==2.22
requests==2.31.0
urllib3==2.2.1
Werkzeug==2.0.2
